@page
@model ThesisManagement.Pages.Shared.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<div class="about-section">
  <h1>@ViewData["Title"]</h1>
  <p>Some text about who we are and what we do.</p>
  <p>eInfochips, an Arrow company, is a leading global provider of product engineering and semiconductor design services. With over 500+ products developed and 40M deployments in 140 countries, eInfochips continues to fuel technological innovations in multiple verticals. The company’s service offerings include digital transformation and connected IoT solutions across various cloud platforms, including AWS and Azure.</p>
</div>

<h2 style="text-align:center">Our Team</h2>

<div class=card-group>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Priyanka Jadav</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Developer</h5>
        <p class="card-text">I am Priyank jadav.</p>
        <a href="#priyanka">jpriyanka4299@gmail.com</a>
        <p></p>
      </div>
    </div>

            <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Roopali Mattolia</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Developer</h5>
            <p class="card-text">I am Roopali Mattolia.</p>
            <a href="#roopali">roops.angel33@gmail.com</a>
          </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Dhruvi Sutariya</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Developer</h5>
            <p class="card-text">I am Dhruvi Sutariya.</p>
            <a href="#dhruvi">dhruvi3645@gmail.com</a>
          </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Anil Verma</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Developer</h5>
            <p class="card-text">I am Anil Verma.</p>
            <a href="#anil">vanil3219@gmail.com</a>
          </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Shubham Patel</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Developer</h5>
            <p class="card-text">I am Shubham Patel.</p>
            <a href="#shubham">patelsubham7777@gmail.com</a>
          </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Jayraj Goyal</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Developer</h5>
            <p class="card-text">I am Jayraj Goyal.</p>
            <a href="#jayraj">jayrajgoyal4@gmail.com</a>
          </div>
        </div>
</div>

<br />
<br />
