<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThesisManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        /* CSS for navigation bar*/
        .topnav a:hover {
             border-bottom: 3px solid red;
         }
         /* CSS for navigation bar closes*/

         /* CSS for About Us page*/
         body {
              font-family: Arial, Helvetica, sans-serif;
              margin: 0;
         }
         .about-section {
              padding: 50px;
              text-align: center;
              background-color: #327a85;
              color: white;
         }

         /* CSS for About Us page closes*/

    </style>
</head>
<body>
    	<nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="#">Thesis Management Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item active">
                    <a class="nav-link" asp-page="/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/AboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Privacy">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-light text-black" type="button" href="#" data-toggle="modal" data-target="#myModal"><strong>Sign In</strong></a>                  
                </li> &nbsp; &nbsp;
                <li class="nav-item">
                    <a class="nav-link btn btn-light text-black" type="button" href="#" data-toggle="modal" data-target="#myModal"><strong>Register</strong></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ThesisManagement - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
