@using Microsoft.AspNetCore.Identity
@using ThesisManagement.Models
@using ThesisManagement.Models.Enums
@inject SignInManager<MyIdentityUser> SignInManager
@inject UserManager<MyIdentityUser> _userManager

    @{
    var user = await _userManager.GetUserAsync(User);
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User) && user != null)
{
   

        @if (await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Administrator.ToString()))
        {
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="FacultiesAdmin" asp-action="Index">Add Faculty</a>
            </li>
            
        }

        @if (await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Student.ToString()))
        {

            @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="SubmissionDetails" asp-action="Index">SubmissionDetails</a>
            </li>*@
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="SubmissionDetails" asp-action="Index">Submission Details</a>
            </li>
         }            

        @if (await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Faculty.ToString()))
        {<li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Faculties" asp-action="Index">Faculty</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="SubmissionDetailsFacultyAdmin" asp-action="Index">Submission Details</a>
            </li>
             <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="ProjectsFaculty" asp-action="Index">Add Projects</a>
                @*<li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students Detail</a>
            </li>*@
         </li>
          
        }


        <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
          
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>

        </form>
    </li>
}
else
{

    <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item active">
                    <a class="nav-link" asp-page="/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/AboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Privacy">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Contact">Contact</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link btn btn-light text-black" asp-page="/Account/Login" type="button" data-toggle="modal" data-target="#myModal"><strong>Sign In</strong></a>                  
                </li> &nbsp; &nbsp;
                <li class="nav-item">
                    <a class="nav-link btn btn-light text-black"  asp-page="/Account/Register" type="button"  data-toggle="modal" data-target="#myModal"><strong>Register</strong></a>
                </li> -->
       

                    <li class="nav-item">
                        <a class="nav-link btn btn-light text-black" asp-area="Identity" asp-page="/Account/Register"><strong>Register</strong></a> &nbsp;&nbsp;&nbsp; 
                        </li>
        
                        <li class="nav-item">
            
                        <a class="nav-link btn btn-light text-black" asp-area="Identity" asp-page="/Account/Login"><strong>Login</strong></a>
                    </li>

    </ul>
}
</ul>